.cmnt {
    width: 500px;
    margin: 0px 2.5px 4.0px 2.5px;
    transition: all .1s ease-in-out;
    border: 2px rgb(94, 89, 89) solid;
    border-radius: 10px;
  }
  .cmnt:hover
  {
      box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.834), 0 6px 20px 0 rgba(0, 0, 0, 0.926);
      transform: translate3d(0px, -2px, 0px);
  }
  
  .postInfo {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .postCat {
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    color: #be9656;
    margin-top: 1px;
    margin-right: 1px;
    cursor: pointer;
  }
  
  .cmntTitle {
    font-family: "Josefin Sans", sans-serif;
    /* font-size: 24px;
    font-weight: 700; */
    margin-top: 2px;
    cursor: pointer;
  }
  
  .cmntDate {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 1px;
  }
  
  .cmntDesc {
    font-family: "Varela Round", sans-serif;
    color: #444;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  